.DS_Store
.build/
.swiftpm/
Package.resolved
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
.vscode/
.protoc-grpc-swift-plugins/
.protoc-grpc-swift-plugins.download/
swift-otel-workspace.xcworkspace/
.benchmarkBaselines
IntegrationTests/otel-collector-output/
